@model MyBlog.Models.UserInfo
@{
    Layout = "~/Views/Layout.cshtml";
}

@section style {
    <link rel="stylesheet" type="text/css" href="~/Content/User.css">
}

<div id="user-info-block">
   @if (Request.Cookies["UserName"] != null)
        { 
            <h3><b>@Request.Cookies["UserName"].Value (you)</b></h3>
        }
    <div id="avatar-block">
        <img src="~/Content/Avatar.jpg" />
    </div>
    @if(Model != null) 
    {
        <div id="personal-info-block">
            <p>Birthday:</p>
            <p>Sex: @Model.Sex</p>
            <p>Country: @Model.Country</p>
            <p>City: @Model.City</p>
        </div>
        <div id="contacts-block">
            <p>E-mail: @Model.Email</p>
            <p>Skype: @Model.Skype</p>
            <p>ICQ: @Model.Icq</p>
            <p>Phone: @Model.Phone</p>
        </div>
    }
</div>
<h3>+ <a href="/">New post...</a></h3>
@for (int i = 0; i < 4; i++)
{
    <div class="post-block">
        <a href="/Post?id=1"><h3>Hello</h3></a>
        <span class="post-date">14.01.2013 6:45</span>
        <p class="post-content">My name is Tamara. Let me speak from my heart. hgcghdchdcfhcfrhvdcrghtyvtuhthtuhtuuhyujujyujyujyugjyugjybjyubjujyubjjyjyujyubjsdhflsdhfklsdhfksdhfklsdfklsdhkfhsdklfhklsdfklsdhf</p>
        <span class="post-comments">15 comments</span>
    </div>
}
